.formSpace {
    flex-basis: fit-content;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    /*min-height: 45vh;*/

    flex-direction: column;
    align-items: center;
    background-color: var(--main-tile);
    border: 1px solid var(--bordertile);
    border-radius: 8px;
    padding: 10px;

}

.bodypage {
    min-height: 100vh;
}

legend {
display: flex;
    flex-direction: column;
}

.card-fight {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    flex-basis: 90px;
    max-height: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    color: black;
    margin: 8px;
    padding: 2px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.item-detail {
    padding: 5px;
    display: flex;
    min-width: 100px;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--eggshell);
}

.form-text-left {

 flex-basis: 60vh;
    display: flex;
    text-align: left;
    flex-direction: row;
}

.form-text-right {
  flex-basis: 60vh;

    text-align: left;
    display: flex;
    flex-direction: row-reverse;
}

.form-control {
    width: 25vh;

}

.invalid-feedback {
    color: red;
}

::placeholder {
    padding-left: 2px;
    color: silver;
    font-size: small;
}

.span-button {
    min-width: initial;
}

.button-delete {
    background-color: var(--signal);
    margin: 0 2px 0 2px;
}

.button-add {
    background-color: var(--button-go);
    align-self: flex-start;
}